div.price
    div.price-container
        div.price-left
            div.price-left__dash
        div.price-right
            h2.price-right-title Стоимость
            div.table-block
                table
                    tr
                        td Материал
                        td 360 dbi
                        td 540 dpi
                        td 720 dpi
                        td 1440 dpi
                    tr
                        td Китай 440
                        td 240
                        td 250
                        td 250
                        td 645
                    tr
                        td Европа 440
                        td 260
                        td 295
                        td 388
                        td 700
                    tr
                        td Европа 510
                        td 280
                        td 310
                        td 388
                        td 760
                    tr
                        td Банерная сетка
                        td 250
                        td.container-pink 330
                        td -
                        td -
                    tr
                        td Бумага Ситилайт
                        td 220
                        td 265
                        td 320
                        td 630
                    tr
                        td Пленка самоклеющаяся ОРАЖДЕТ
                        td 260
                        td 350
                        td 450
                        td 670
                    tr
                        td Пленка перфорированная
                        td -
                        td -
                        td 520
                        td 820
                    tr
                        td Пленка Баклит без клеевого слоя
                        td -
                        td -
                        td 600
                        td 820
