div.print
  div.print-container
    div.print-container-top
      h1.print-container-title Широкоформатная печать
    div.print-container-center
      div.print-left
        div.print-left__dash
    div.print-container-bottom
      h3.print-container-bottom__content-text Все виды широкоформатной печати
      ul.print-container-bottom__content-products
        li
          div.print-container-bottom__content-products-svg
            include ../Icons/check
          div.print-container-bottom__content-products-item Растяжки
        li
          div.print-container-bottom__content-products-svg
            include ../Icons/check
          div.print-container-bottom__content-products-item Световые короба
        li
          div.print-container-bottom__content-products-svg
            include ../Icons/check
          div.print-container-bottom__content-products-item Вывески
        li
          div.print-container-bottom__content-products-svg
            include ../Icons/check
          div.print-container-bottom__content-products-item Штендеры
      div.print-container-bottom__content-button
        p.print-container-bottom__content-button-tel +7(495)241-96-37
        a(href="").print-container-bottom__content-button-button Оформить заказ
