.subheader {
  @include flex(center, center, row, nowrap);
  width: 100%;
  background-color: #393185;;
}

.subheader-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1340px;
  position: relative;

}

.subheader__item {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.subheader__item-svg-container {
  @include flex(center, center);
  width: 18px;
  height: 18px;
  margin-left: 20px;

  & > svg {
    @include svg($mm-white);
  }
 }

.subheader__item-container {
  @include flex(center, flex-start);
  padding: 30px 50px;

  &_first {
    cursor: pointer;
  }

  &_first:hover {
    background-color: $mm-pink;

    & > .subheader__pop-up {
      display: flex;
      flex-direction: column;
    }
  }
}

.subheader__pop-up {
  display: none;
  position: absolute;
  top: 84px;
  left: 0;
  padding: 100px;
  width: 100%;
  background-color: #ecf5fd;
}

.subheader__pop-up_top {
  @include flex(flex-start, space-between);
  margin-bottom: 50px;
}

.subheader__pop-up-bottom {
  @include flex(flex-start, space-between);
}

.blank {
  max-width: 80px;
}

.brosh{
  margin-left: -45px;
}