header.header
  div.header-top
    div.header-top-container
      div.header-left
        a(href='').header-left-item О компании
        a(href='').header-left-item Портфолио
        a(href='').header-left-item Сотрудничество
        a(href='').header-left-item Требования к макету
        a(href='').header-left-item Контакты
      div.header-right
        div.star-container
          include ../Icons/star
        a(href='').header-right-item Добавить сайт в закладки
  div.header-bottom
    div.header-bottom-container
      div.header-logo
        a(href='').headelr-logo-logo
        a(href='').header-logo__text Ваш заказ уже сегодня
      div.header-number
        p.header-number__text +7(495)241-96-37
        p.header-number__info Пн-Сб 10:00&mdash;19:00 Вс &mdash; выходной
        a(href="").header-number-mail 7292554@mail.ru
      div.header-address
        p Москва, м. Дубровка
        p.header-address__text ул. Щарикоподшипниковская, д. 13
        a(href="").header-address__text-link Как нас найти
      div.header-button
        a.header-button-button Срочный заказ
        p
          a(href='').header-button__link Задать вопрос
