div.footer
    div.footer-container
        div.footer-container-tipograf
            span.footer-container-tipograf-title Типография
            div.footer-container-dash
            ul
                li О компании
                li Оборудование
                li Оплата заказа
                li Портфолию
                li Доставка
                li Конаткты
                li Статьи
                li Сотрудники
                li FAQ
                li Дизайн
                li Требования к макетам
        div.footer-container-poligraf
            span.footer-container-title Полиграфические услуги
            div.footer-container-dash
            ul
                li Визитки
                li Бланки и самокопирующиеся блинки
                li Цифровая печать
                li Наклейки
                li Объемы Букв
                li Тампопичать
                li Календари
                li Ресторанное меню
                li Ризография
                li Вывески
                li Изготовление печатей
                li широкоформатное ламинирование
        div.footer-container-content
            ul
                li Листовки
                li Бумажные
                li Тиснение фольгой
                li Растяжки
                li Широкоформатная печать
                li Штендеры и плоттеры
                li Буклеты
                li Брошюры
                li Авиши
                li Световая коробка
                li Плоттерная резка
                li Информационные стенды и таблички
        div.footer-container-contacts
            span.footer-container-title Контакты
            div.footer-container-dash
            span.contact-text &#171;Полиграфия от А до Я - ваш надежный партнер в сфере маркетинга и рекламы&#187;
            div.contacts
                div.contacs-phone
                    include ../Icons/phone
                div.footer-number__info-block
                    p.footer-number__text +7(495)241-96-37
                    p.footer-number__info Пн-Сб 10:00&mdash;19:00 Вс &mdash; выходной
                    p.footer-number-mail 7292554@mail.ru
            div.contacts
                div.contacs-location
                    include ../Icons/location
                div.footer-number__info-block
                    p.footer-number__text Москва, м.Дубровка
                    p.footer-number__info Шарикоподшипническая. д. 13
                    p.footer-number-mail Как нас найти



